

/* Banner Principal */
.banner {
    background: linear-gradient(135deg, #00509e, #003366);
    color: white;
    text-align: center;
    padding: 5rem 2rem;
}
/* h2 */
.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
/* botão */
#cta-btn {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.3s;
}
/* botão */
#cta-btn:hover {
    background-color: #e6b800;
}


/* Seção de Cards */
.cards-section {
    padding: 4rem 2rem;
    width: 90%;
    margin: auto;
    text-align: center;
}

.cards-section h2 {
    margin-bottom: 2rem;
    color: #003366;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

/* Estilo Individual do Card */
.card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #00509e;
    margin-bottom: 1rem;
}
