

/* Banner Principal */
.banner {

    background: linear-gradient(135deg, #00509e, #003366);
    color: white;
    text-align: center;
    padding: 5rem 2rem;
}
/* h2 */
.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
/* botão */
#cta-btn {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.3s;
}
/* botão */
#cta-btn:hover {
    background-color: #e6b800;
}


/* Seção de Cards */
.cards-section {
    padding: 4rem 2rem;
    width: 90%;
    margin: auto;
    text-align: center;
    
}

.cards-section h2 {
    margin-bottom: 2rem;
    color: #003366;
}
.t2{
    font-size:30px;
}
.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

/* Estilo Individual do Card */
.card {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding-top: 2rem;
    width: 300px;
     background-color: rgb(164, 189, 189);
     color: rgba(245, 245, 245, 0.945);
     
}


.card h4 {
    

padding-bottom: 2rem;
}

.card h2{
    color: white;
}

.card:hover {
    transform: translateY(-5px);
}

.borda1{
    
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px;
    padding: 40px;
    margin-top:-32px ;
    background: linear-gradient(135deg, #2181e2, #003366);  

}
.borda2{

    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px;
    padding: 54px;
    margin-top:-32px ;
    background: linear-gradient(135deg, #2181e2, #003366);  

}
.borda3{

    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px;
    padding: 40px;
    margin-top:-32px ;
    background: linear-gradient(135deg, #2181e2, #003366);  

}
.borda4{

    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 8px ;
    border-top-right-radius: 8px;
    padding: 40px;
    margin-top:-32px ;
    background: linear-gradient(135deg, #2181e2, #003366);  

}

.button{
    color: white;
    margin-bottom: 40px;
    padding: 15px;
    background-color:#2181e2 ;
    font-family: Arial, Helvetica, sans-serif;
     border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button2{
    color: white;
    margin-top: 20px;
    padding: 12px;
    background-color:#2181e2 ;
    font-family: Arial, Helvetica, sans-serif;
     border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contatos{

    display:flex;
    justify-content:space-around;
     color: white;
    margin-bottom: 40px;
    padding: 5px;
    background: linear-gradient(135deg, #00509e, #003366);
    font-family: Arial, Helvetica, sans-serif;
     border: none;
     
}

.contatos h1{

    
    padding-right: 810px;
}
