

  body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #0f535f;
        }

        .card {
            background: white;
            border-radius: 12px;
            padding: 20px;
            width: 280px;
            text-align: center;
        }
